.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.circul{
  border: 1px solid black;
  height: 100px ;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
}